@model List<WebApplication1.Models.NhapHang>
<div class="container topinputarea">
    <div class="row">
        <h4 class="headertext">
            <i class="fa fa-bar-chart"></i>  Báo cáo <i class="fa fa-chevron-right"></i> Nợ đối tác
        </h4>
    </div>

</div>
<div class="container" id="DanhSachSanPham">
    <p style="background: #d6d6d6; color: #ff0000; padding: 10px; margin-bottom: 0px; font-weight: bold; font-size: 20px;" class="row">
        Tổng nợ đối tác : <span id="tongnoall" class="money"></span>
    </p>

    <div class="row tbheader visible-lg">
        <div class="col-lg-2">
            Ngày tháng
        </div>
        <div class="col-lg-4">
            Đối tác
        </div>

        <div class="col-lg-2">
            Còn nợ
        </div>
        <div class="col-lg-4">
            Ghi chú
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="tr tbitem row">
            <div class="col-lg-2">
                <span class="date">
                    @item.NgayNhap
                </span>
            </div>
            <div class="col-lg-4">
                @Html.Action("GetNameById", "DoiTacs", new { id = item.DoiTac })
            </div>

            <div class="money conno col-lg-2">
                @item.ConNo
            </div>
            <div class="col-lg-4">
                @item.GhiChu
            </div>

        </div>
    }

</div>
<script>
    var tongno = 0;
    $('.conno').each(function () {
        var conno = $(this).text();
        //console.log(conno);
        var sotien = conno.replace(/,/g, '');
        tongno += parseFloat(sotien);
        

    });
    $('#tongnoall').text(tongno);
</script>
