<h4>
    Bạn Có chắc chắn muốn hủy đơn hàng này?
</h4>
<p>
    Việc hủy đơn hàng có thể sẽ ảnh hưởng đến báo cáo doanh thu báo cáo bán hàng số lượng tồn kho của sản phẩm
</p>
<p>
    <a href="@Url.Action("CancelSaledOrder", "BanHang", new { id = ViewBag.id })"
       style="color: #fff; font-weight: bold; padding: 10px;" class="btn btn-danger">
        <i class="fa fa-times"></i> Xóa đơn hàng
    </a>
</p>