<a href="@Url.Action("OrderDetail","BanHang")">
    <div class="wrapicon" style="position:relative">
        <i class="material-icons">
            shopping_basket
        </i>
        <span id="totalitem">@ViewBag.totalitem</span>
    </div>
    <div>
        Giỏ hàng
    </div>
</a>
