@model List<WebApplication1.Models.LoaiSanPham>
<select id="selectLoaiSanPham" class="selectLoaiSanPham form-control" onchange="selectcatechange(this)">
    <option value="">
        Vui lòng chọn
    </option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Ten </option>
    }
</select>